@import "../assets/antd-custom.less";

.ant-carousel .slick-slide {
  text-align: center;
  height: 490px;
  padding: 10px 20px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.index-wraper {
  text-align: center;
  padding-bottom: @content-bottom-padding;
}
h1 {
  text-align: left;
  max-width: @content-width;
  margin: 50px auto 30px auto;
  color: #333;
  font-weight: 400;
  letter-spacing: 3px;
  color: @primary-color;
}
.content {
  text-align: left;
  max-width: @content-width;
  margin: 0 auto 15px auto;
  font-size: 17px;
  color: @content-color;
  line-height: 38px;
  letter-spacing: 1.5px;
}

.index-carousel {
  display: flex;
  justify-content: space-between;
}
.index-carousel-content {
  color: #fafafa;
  line-height: 35px;
  font-size: 17px;
  text-align: left;
  padding-right: 30px;
}
.index-carousel-img-wraper img {
  width: 500px;
}

.index-phone-content {
  display: inline-block;
  vertical-align: top;
  width: 60%;
}

.index-phone-img {
  display: inline-block;
  width: 40%;
}

.index-phone-img img {
  height: 500px;
  float: right;
}

.index-product-info {
  display: flex;
  justify-content: space-between;
}

.index-product-info-item {
  background: #f9f9f9;
  padding: 35px;
  padding-bottom: 140px;
  text-align: center;
  width: 45%;
}
.index-product-info-money {
  margin: 20px 0;
  color: #747474;
  font-size: 22px;
}

.index-product-info-try {
  margin: 40px 0;
  color: #333333;
  font-size: 28px;
  font-weight: bold;
}

.index-modal {
  text-align: center;
  padding: 10px;
}

.index-modal-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.index-modal-content {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 25px;
}

.index-footer {
  position: fixed;
  display: flex;
  // justify-content: flex-end;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: @primary-color;
  color: white;
  height: 100px;
  bottom: 0;
  .index-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    .index-top {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .index-bottom {
      font-size: 14px;
    }
  }
  .index-button {
    font-size: 16px;
    // margin: 10px 40px 10px 10px;
    margin: 10px;
    cursor: pointer;
  }
}

.index-purcharse-success-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.index-purcharse-success-content {
  text-align: center;
}

// mobile
@media only screen and (max-width: 1024px) {
  // .index-footer {
  //   justify-content: center;
  //   .index-button {
  //     margin: 10px;
  //   }
  // }
  h1 {
    text-align: center;
    max-width: 80%;
    font-size: 22px;
    font-weight: blod !important;
    margin: 50px auto 30px auto;
  }
  .content {
    max-width: 90%;
    text-align: center;
    // margin: 0 auto 15px auto;
  }
  .index-carousel-wraper {
    width: 100%;
    margin: 0 auto;
  }
  .index-carousel {
    flex-direction: column;
  }
  .index-carousel-content {
    width: 100%;
    color: #747474;
    line-height: 28px;
    font-size: 16px;
    text-align: left;
    padding-right: 0;
    margin-bottom: 15px;
  }
  .index-carousel-img-wraper img {
    width: 100%;
    margin-bottom: 15px;
  }

  .index-phone-img {
    margin: 15px 0;
    width: 100%;
    float: none;
    text-align: center;
  }
  .index-phone-img img {
    float: none;
  }
  .index-phone-content {
    width: 100%;
  }

  .index-product-info {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .index-product-info-item {
    width: 90%;
    margin: 10px 0;
    height: 370px;
  }
}
