@import "../../assets/antd-custom.less";

body {
  position: relative;
  padding-bottom: 64px;
  min-height: 100vh;
  height: auto;
}
.footer-wraper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @primary-color;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
}
.footer-content-item::selection {
  background-color: #e0e0e0;
}
.footer-content {
  font-size: 11px;
  display: flex;
  height: 64px;
  justify-content: space-between;
  max-width: @content-width;
  line-height: 64px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .footer-content {
    display: flex;
    height: 124px;
    line-height: 34px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
}
